* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.image {
    display: flex;
    align-items: start;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* .card2 > div {
    width: 800px;
    height: 800px;
} */

.head {
    width: 433px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2px;
    gap: 2px;
}

.head1 {
    color: #212121;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.5%; 
}
.icon {
    width: 50px;
    height: 50px;
}

.head2 {
    width: 434px;
    color: #949494;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%; 
}

.head3 {
    width: 432.171px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #4443FF;
    color: #FFF;
    box-shadow: 9px 9px 10px 0px rgba(114, 113, 255, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.5%; 
}

.head4 {
    width: 433px;
    height: 69px;
    padding: 18px 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #949494;
    background: #FFF;
}

.head5 {
    color: #4443FF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.5%; 
    text-transform: capitalize;
}

.head6 {
    color: #949494;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
}

span {
    color: #7271FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.5%;
    text-decoration-line: underline;
}